.jumbotron {
  padding-top: 10rem;
  background-color: #58585869;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
}
#activity {
  background-color: #58585869;
}
section {
  padding-top: 6rem;
}
html {
  scroll-behavior: smooth;
}
.footer {
  padding-bottom: 5rem;
}
